@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #bd9683;
    --primary-color-dark: #241813;
    --hover-color: #8d7d74;
    --max-width: 1200px;
    ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    background: linear-gradient(180deg,
            var(--primary-color-dark) 0%,
            var(--primary-color) 100%);
}

nav {
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}

.nav__header {
    padding: 0.75rem 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color-dark);
}

.nav__logo .logo-dark {
    display: none;
}

.nav__menu__btn {
    font-size: 1.5rem;
    color: whitesmoke;
    cursor: pointer;
}

.nav__links {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--primary-color-dark);
    transition: transform 0.5s;
    z-index: -1;
}

.nav__links.open {
    transform: translateY(100%);
}

.nav__links a {
    color: whitesmoke;
}

.nav__links a:hover {
    color: var(--primary-color);
}

.nav__btns {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo img {
    max-width: 50px;
}

.logo span {
    font-size: 1.25rem;
    font-weight: 700;
    color: whitesmoke;
    white-space: nowrap;
}

img {
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

ul {
    list-style: none;
}

.btn {
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--primary-color-dark);
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--hover-color);
}

@media (width > 768px) {
    nav {
        position: static;
        padding: 1.5rem 1rem;
        max-width: var(--max-width);
        margin-inline: auto;
        margin-bottom: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }

    .nav__header {
        padding: 0;
        background-color: transparent;
        flex: 1;
    }

    .nav__logo img {
        max-width: 50px;
    }

    .nav__logo .logo-dark {
        display: flex;
    }

    .nav__logo .logo-white {
        display: none;
    }

    .nav__logo span {
        font-size: 1.5rem;
        color: var(--primary-color-dark);
    }
    
    .nav__menu__btn {
        display: none;
    }

    .nav__links {
        position: static;
        width: fit-content;
        padding: 0;
        flex-direction: row;
        background-color: transparent;
        transform: none !important;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -o-transform: none !important;
    }

    .nav__links a {
        font-weight: 500;
        color: var(--primary-color-dark);
    }

    .nav__links li:last-child {
        display: none;
    }

    .nav__btns {
        display: flex;
        flex: 1;
        justify-content: flex-end;
    }
}